* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul {	
	list-style: none;
}
.txt {
	width: 600px;
	height: 700px;
	border: 1px solid black;
	margin: 20px auto;	
}
.txt h3 {
	background-color: #ccc;
	padding: 10px 5px 10px;
	line-height: 1;
}
.txt_1 {
	float: left;
	width: 250px;
	height: 320px;
	padding: 10px 5px;
	margin: 10px;
}
.txt_2 {
	float: left;
	width: 300px;
	height: 320px;
	padding: 5px;
	margin: 10px;
	border-left: 1px solid black;
}
.txt_2 p {
	font-size: 30px;
	color: black;
}
.txt_3 {
	margin: 50px auto;
	width: 500px;
	height: 300px;
}
a {
	font-size: 20px;
	color: black;
	text-decoration: none;
}
.txt_3 ul li {
	border-bottom: 1px dashed #000000; 
	padding-top: 20px;
	color: black;
}
a:hover {
	color: skyblue;
}